<div class='hero'>
  <img src='../assets/st.-louis-header.jpg' alt='St. Louis Skyline'/>
</div>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<div class="widget">
  <ul>
    <h2>Always a sure bet:</h2>
    <li><a href='https://www.gatewayarch.com'>Gateway Arch</a></li>
    <li><a href='https://www.mlb.com/cardinals'>St. Louis Cardinals</a></li>
    <li><a href='https://www.nhl.com/blues'>St. Louis Blues</a></li>
    <li><a href='https://www.stlcitysc.com'>St. Louis City SC</a></li>
    <li><a href='https://www.missouribotanicalgarden.org'>Missouri Botanical Garden</a></li>
    <li><a href='https://www.citymuseum.org'>City Museum</a></li>
    <li><a href='https://www.stlzoo.org'>Saint Louis Zoo</a></li>
    <li><a href='https://www.stlouisunionstation.com'>St. Louis Union Station</a></li>
    <li><a href='https://www.slam.org'>Saint Louis Art Museum</a></li>
    <li><a href='https://www.slsc.org'>Saint Louis Science Center</a></li>
    <li><a href='https://www.enterprisecenter.com'>Enterprise Center</a></li>
    <li><a href='http://thechaifetzarena.com'>Chaifetz Arena</a></li>
    <li><a href='https://www.fabulousfox.com'>The Fabulous Fox Theatre</a></li>
  </ul>
</div>
