/* root */
* {
  box-sizing: border-box;
}

/* body */
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Chivo', sans-serif;
  color: black;
  background-color: #edf6f9;
}

/* links */
a {
  text-decoration: none;
  color: #1434a4;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #e42217;
}

/* header */
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4% 0 4%;
  border-bottom: 1px solid #c41e3a;
  margin-bottom: 1%;
}

header h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 1.3em;
  text-shadow: 0 0 10px #ffea00, 0 0 5px #ffea00, 0 0 10px #ffea00;
}

.header-nav {
  font-family: 'Unica One', cursive;
  font-size: 1.1em;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 2px;
}

/* skyline image */
.hero {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

/* main */
main {
  flex: 1;
  padding: 0% 4% 2% 4%;
}

.post-list {
  margin: 0;
  padding: 0;
}

.widget {
  float: right;
  width: 30%;
  height: auto;
  background-color: rgb(20, 52, 164, 0.15);
  line-height: 1.8;
  border-radius: 25px;
}

.widget h2 {
  color: #c41e3a;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 1px;
}

/* login */
.flagimg img {
  width: 40%;
  height: 40%;
  float: right;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #e42217;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

button {
  background-color: #ffea00;
  border: 0;
  padding: 1%;
  color: #1434a4;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1434a4;
  color: white;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #fedb00;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-family: 'Unica One', cursive;
  color: #1434a4;
}
